div.align{
    display: inline-block;
    vertical-align: middle;    
}

div#profil{
    width:100%;
    padding: 15px;
    text-align: center;
    background-color: #F9F9F9;
    //border: solid 1px #ccc;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1);
    margin: 0px 50px 50px 0px;
}

#profil div#info-user{
    margin-right: 100px;
}

div#profil div#logo-user{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #ccc;
    margin: 0 auto;
}

.profil-bloc{
    margin-left: 30px;
}

div#skills-level{
    margin-left: 100px;
    margin-top: 50px;
    max-width: 600px;
}

#skills-level .glyphicon-star{
    color: #f1c40f;    
}

#skills-level .stars-content{
    margin-right: 80px;  
    display: inline-block;
    vertical-align: middle;
}

#skills-level .empty{
    opacity: 0.4;   
}

.skill-label{
    width: 80px;
}

.profil-bloc h2{
    width: 250px;
    background-color: #48b9c7;
    font-size: 28px;
    color: #FFF;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#profil h3{
    font-size: 24px;
    margin: 10px 0px 0px;    
}

#profil h4{
    font-size: 16px;
    margin: 0;
}

span.rouge{
    color: #e74c3c;
}

#button, .btn-blue{
    background-color: #48b9c7;
    color: #FFF;
    border: none;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
}

#button:hover{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
    background-color: rgba(72, 185, 199,0.9)
}

