/* 
    Created on : 24 juin 2014, 18:19:27
    Author     : Jean
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

header{
    padding: 15px 15px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-bottom: 3px solid #48b9c7;
}

header .align, header ul li{
    display: inline-block;
    list-style: none;
    vertical-align: bottom;
}

#navtop{
    margin: 0px;
    float: right;
}

#navtop ul a{
    color: #333;
    -webkit-transition: color 0.3s linear;
    font-size: 18px;
    text-decoration: none;
}

#navtop ul a:hover{
    color: #48b9c7;
    -webkit-transition: color 0.3s linear;
}

#navtop ul li{
    display: inline-block;
    margin: 20px 20px 0px;
}

nav#menu{
    float: left;
    width: 220px;
    height: 100%;
    background-color: #F5F5F5;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
    position: absolute;
}

nav#menu ul li{
    padding: 20px 15px;
    -webkit-transition: background-color 0.5s linear;
    border-bottom: 1px solid #999;
}

/*nav#menu ul li:last-child{
    border-bottom: 1px solid #BBB;
    border-radius: 0px 0px 5px 5px;
}*/

/*nav#menu ul li:first-child{
    border-radius: 5px 5px 0px 0px;
}*/

nav#menu ul li a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    -webkit-transition: color 0.5s linear;
    display: block;
}

nav#menu ul li a span{
    float: right;
    margin-top: 3px;
}

nav#menu ul li:hover{
    background-color: #e74c3c;
    -webkit-transition: background-color 0.5s linear;
}

nav#menu ul li:hover a{
    color: #FFF;
    -webkit-transition: color 0.5s linear;
}

main{
    margin-left: 230px;
    margin-top: 35px;
}