 {% extends "ImieNetworkSiteBundle:Administration:layout.html.twig" %} 

{% block content %}
    <h1>Typecontrat edit</h1>

    {{ form(edit_form) }}

    {{ form(delete_form) }}

        <a href="{{ path('typecontrat') }}">
            <button class="btn btn-default">Retour à la liste des types de contrat</button>
        </a>

{% endblock %}
