{% extends "ImieNetworkSiteBundle:Entreprise:layout.html.twig" %}

    {% block content %}

<div class="container">
    <div class="col-md-6">
        <h3>John Smith</h3>
        <p><strong>Expérience:</strong></br>
        Employé model chez Google</p>
        <p><strong>Compétence:</strong> Java, C#, HTML...</p>
    </div>
    <div  class="col-md-6">
        </br>
        <p><button type="button" class="btn btn-primary">Détail du compte</button></p>
    </div>
</div>
    <div class="container">
 <div class="col-md-6">
        <h3>John Smith</h3>
        <p><strong>Expérience:</strong></br>
        Employé model chez Google</p>
        <p><strong>Compétence:</strong> Java, C#, HTML...</p>
    </div>
    <div  class="col-md-6">
        </br>
        <p><button type="button" class="btn btn-primary">Détail du compte</button></p>
    </div>
</div>
    </div>

{% endblock %}