{% extends "ImieNetworkSiteBundle:Entreprise:layout.html.twig" %}

{% block content %}
<h2 style="color: blue;">Profil de l'élève :</h2>

<div class="col-md-3" style="text-align: center">
    <h4>
    John Smith</br>
    CDPN L3 - 2014
    </h4>
</div>


<div class="col-md-9">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnlg00u0bnDXmdY8Itfw9PjKi3m92PKCs3XXNg2JB9fVvFQs3s" alt="..." class="img-circle">
</div>

<div class="col-md-6">
    <h4 style="color: blue;">Expériences : </h4>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">Agent secret</h4>
        <p>Une expérience de malade balabababababab
        *Une expérience de malade balabababababab
        Une expérience de malade balabababababab
        Une expérience de malade balabababababab
        Une expérience de malade balabababababab
        </p>
        <p><strong>12/05/1999</strong>  - <strong>12/05/2016</strong> </p>
    </div>
    
        <div class="media-body">
        <h4 class="media-heading">Agent secret</h4>
        <p>Une expérience de malade balabababababab
        Une expérience de malade balabababababab
        Une expérience de malade balabababababab
        Une expérience de malade balabababababab
        Une expérience de malade balabababababab
        </p>
        <p><strong>12/05/1999</strong>  - <strong>12/05/2016</strong></p>
    </div>
    
        <div class="media-body">
        <h4 class="media-heading">Agent secret</h4>
        <p>Une expérience de malade balabababababab
        Une expérience de malade balabababababab
        Une expérience de malade balabababababab
        Une expérience de malade balabababababab
        Une expérience de malade balabababababab
        </p>
        <p><strong>12/05/1999</strong>  - <strong>12/05/2016</strong></p>
    </div>
</div>
</div>

<div class="col-md-6">
    <h4 style="color: blue;">Compétences :</h4>
    <label><strong>Compétence : </strong></label> Java </br>
    <label><strong>Compétence : </strong></label> Javascript
</div>

{% endblock %}