{# empty Twig template #}

<header class="container">
    <div class="col-md-10">
        <img src="{{ asset('bundles/ImieNetworkSite/images/logoimie2.png') }}" class="img-responsive">
    </div>
    <div class="col-md-2" id="imieContact">
        <p>
            <a href="mailto:contact@imie.fr" name="contact" target="_blank" title="contact" id="contact">
                <img alt="mail" src="http://www.imie-ecole-informatique.fr/sites/default/files/imce/icons/icon-mail.png"> contact@imie.fr</a>
            <a href="http://twitter.com/EcoleIMIE" name="twitter" target="_blank" title="twitter" id="twitter">
                <img alt="twitter" src="http://www.imie-ecole-informatique.fr/sites/default/files/imce/icons/icon-twitter.png"></a>
        </p>
        <p>
            <img alt="tel" src="http://www.imie-ecole-informatique.fr/sites/default/files/imce/icons/icon-tel.png" style="width: 25px; height: 25px;"> 02 28 01 37 54
            <a href="http://www.facebook.com/IMIE.IT" name="facebook" target="_blank" title="facebook" id="facebook">
                <img alt="facebook" src="http://www.imie-ecole-informatique.fr/sites/default/files/imce/icons/icon-facebook.png"></a>
        </p>
    </div>
</header>
