{% extends "ImieNetworkSiteBundle:Entreprise:layout.html.twig" %}

    {% block content %}

<div class="container">
    <div class="col-md-6">
        <h3>Titre de l'offre</h3>
        <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens
            est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
            L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' 
            est qu'il possède une distribution de lettres plus ou moins normal</p>
    </div>
    <div  class="col-md-6">
        </br>
        <p> <button type="button" class="btn btn-primary">Editer</button>
            <button type="button" class="btn btn-default">Supprimer</button>
        </p>
            <p><strong>12/12/2012</strong></p>
    </div>
</div>
    <div class="container">
        <div class="col-md-6">
        <h3>Titre de l'offre</h3>
        <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens
            est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
            L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' 
            est qu'il possède une distribution de lettres plus ou moins normal</p>
    </div>
    <div  class="col-md-6">
        </br>
        <p> <button type="button" class="btn btn-primary">Editer</button>
            <button type="button" class="btn btn-default">Supprimer</button>
        </p>
        <p><strong>12/12/2012</strong></p>
    </div>
    </div>

{% endblock %}