<header>
    <div id="logo" class="align">
        <img src="{{ asset('bundles/imienetworksite/images/logoimie2.png') }}" style="height:65px;" class="img-responsive">
    </div>
    <nav id="navtop" class="align">
        <ul>
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="#">Site IMIE</a></li>
        </ul>
    </nav>
</header>
