ImieNetwork\SiteBundle\Entity\Groupe:
    type: entity
    repositoryClass: ImieNetwork\SiteBundle\Entity\GroupeRepository
    table: groupe
    id:
        id:
            type: integer
            nullable: false
            unsigned: false
            comment: ''
            id: true
            generator:
                strategy: IDENTITY
    fields:
        libelle:
            type: string
            nullable: true
            length: 255
            fixed: false
            comment: ''
    lifecycleCallbacks: {  }
