ImieNetwork\SiteBundle\Entity\Promotion:
    type: entity
    table: promotion
    id:
        id:
            type: integer
            nullable: false
            unsigned: false
            comment: ''
            id: true
            generator:
                strategy: IDENTITY
    fields:
        libelle:
            type: string
            nullable: false
            length: 255
            fixed: false
            comment: ''
        annee:
            type: integer
            nullable: true
            unsigned: false
            comment: ''
        email:
            type: string
            nullable: true
            length: 255
            fixed: false
            comment: ''
    lifecycleCallbacks: {  }
