#---------------------------------------------------------------------------------------------------
#           Routing pour l'administration des groupes
#---------------------------------------------------------------------------------------------------

utilisateur:
    pattern:  /
    defaults: { _controller: "ImieNetworkSiteBundle:Administration/Utilisateur:index" }

utilisateur_show:
    pattern:  /show/{id}
    defaults: { _controller: "ImieNetworkSiteBundle:Administration/Utilisateur:show" }

utilisateur_new:
    pattern:  /new
    defaults: { _controller: "ImieNetworkSiteBundle:Administration/Utilisateur:new" }

utilisateur_create:
    pattern:  /create
    defaults: { _controller: "ImieNetworkSiteBundle:Administration/Utilisateur:create" }
    requirements: { _method: post }

utilisateur_edit:
    pattern:  /edit /{id}
    defaults: { _controller: "ImieNetworkSiteBundle:Administration/Utilisateur:edit" }

utilisateur_update:
    pattern:  /update/{id}
    defaults: { _controller: "ImieNetworkSiteBundle:Administration/Utilisateur:update" }
    requirements: { _method: post|put }

utilisateur_delete:
    pattern:  /delete/{id}
    defaults: { _controller: "ImieNetworkSiteBundle:Administration/Utilisateur:delete" }
    requirements: { _method: post|delete }
