
 {% extends "ImieNetworkSiteBundle:Administration:layout.html.twig" %} 

{% block content -%}
    <h1>Utilisateur creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('administrationutilisateurIndex') }}">
            Retour à la liste des utilisateurs
        </a>
    </li>
</ul>
{% endblock %}
