 {% extends "ImieNetworkSiteBundle:Administration:layout.html.twig" %} 

{% block content %}
    <h1>Nouvel utilisateur</h1>

    {{ form(form) }}

        <a href="{{ path('utilisateur') }}">
            <button class="btn btn-primary">Retour à la liste des utilisateurs</button>
        </a>

{% endblock %}
