{% extends "ImieNetworkSiteBundle::masterLayout.html.twig" %}

{% block title %}Accueil Eleve{% endblock %}

{% block stylesheets %}    
    
{% endblock %}

{% block headerJavascript %}    
    
{% endblock %}


{% block body %}
   
    {% block contentHeader %}   
    
    {% endblock %}
    
    
    
    {% block content %}
        <h1>Contenu de la page accueil eleve</h1>
     {% endblock %}
     
     
     {% block contentFooter %}   
    
    {% endblock %}
    
{% endblock %}

{% block javascripts %}    

{% endblock %}