<nav id="menu">
    <div>
        <ul>
            <li><a href="#">Mon compte <span class="glyphicon glyphicon-chevron-right margin"></span></a></li>
            <li><a href="#">Mes offres <span class="glyphicon glyphicon-chevron-right margin"></span></a></li>
            <li><a href="#">Mes offres entreprise <span class="glyphicon glyphicon-chevron-right margin"></span></a></li>
            <li><a href="#">Rechercher <span class="glyphicon glyphicon-chevron-right margin"></span></a></li>
        </ul>
    </div>
</nav>