<div id="navtop" class="container">
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <li class="active"><a href="{{ path('entrepriseIndex') }}">Accueil</a></li>
            <li><a href="#">Profil</a></li>
            <li><a href="#">Messagerie</a></li>
            <li><a href="#">Déconnexion</a></li>
        </ul>
    </div>
</div>

<div class="container">
            <div class="col-md-2">

                <nav class="navl" id="menu">
                    <ul class="nav nav-pills nav-stacked span2">
                        <li><a href="#">Mon compte</a></li>
                        <li><a href="#">Mes offres</a></li>
                        <li><a href="#">Mes offres entreprise</a></li>
                        <li><a href="#">Rechercher</a></li>
                    </ul>
                </nav>

                <nav class="navl"id="evenements">
                    <ul class="nav nav-pills nav-stacked span2">
                        <li><a href="#">Evenement 1</a></li>
                        <li><a href="#">Evenement 2</a></li>
                        <li><a href="#">Evenement 3</a></li>
                    </ul>
                </nav>
            </div>