<nav id="menu">
    <div>
        <ul>
            <li><a href="{{ path('eleve_profil_show') }}">Mon compte <span class="glyphicon glyphicon-chevron-right margin"></span></a></li>
            <li><a href="{{ path('offre') }}">Mes offres <span class="glyphicon glyphicon-chevron-right margin"></span></a></li>
            <li><a href="#">Mes offres entreprise <span class="glyphicon glyphicon-chevron-right margin"></span></a></li>
            <li><a href="{{ path('offre_search')}}">Rechercher <span class="glyphicon glyphicon-chevron-right margin"></span></a></li>
</nav>