{% extends "ImieNetworkSiteBundle:Entreprise:layout.html.twig" %}
    {% block content %}
<div id="my_carousel" class="carousel slide" data-ride="carousel">
    <!-- Bulles -->
    <ol class="carousel-indicators">
        <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
                {% for evenement in evenements %}
        <li data-target="#my_carousel" data-slide-to="1"></li>
       {%endfor%}
    </ol>
    <!-- Slides -->
    <div class="carousel-inner">
        <!-- Page 1 -->
        <div class="item active">  
            <div class="carousel-page">
                Bienvenu sur le site de l'IMIE
            </div> 
            <div class="carousel-caption">Profitez de nos fonctionnalités</div>
        </div>   


        {% for evenement in evenements %}
        <!-- Page 3 -->
        <div class="item">  
            <div class="carousel-page">
                {{ evenement.libelle }}
            </div>  
            <div class="carousel-caption">Page 2 de présentation</div>
        </div>
       {%endfor%}

    </div>
    <!-- Contrôles -->
    <a class="left carousel-control" href="#my_carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#my_carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
            ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus 
            viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia 
            congue felis in faucibus.</p>
    </div>

    <a class="pull-left" href="#">
        <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
            ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus 
            viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia 
            congue felis in faucibus.</p>
    </div>

    <a class="pull-left" href="#">
        <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
            ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus 
            viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia 
            congue felis in faucibus.</p>
    </div>

    <a class="pull-left" href="#">
        <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
            ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus 
            viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia 
            congue felis in faucibus.</p>
    </div>
</div>

<style>
    .carousel-page
    {   
        width:100%;
        height:250px;
        background-color:#1BAFCD;
        color:white;
        text-align: center;
    }
</style>
     {% endblock %}

